* {
	margin: 0;
    padding: 0;
}

:root {
    --current-grid-size: 400px;    
}

body {
    background-color: rgb(177, 230, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-size: 30pt;    
}

button {
    display: inline-block;    
    width: calc(0.5 * var(--current-grid-size));

    border: 2px solid black;
    border-radius: 25px;
    background-color: greenyellow;

    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#buttons {
    margin: 20px 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    margin: 0 auto;
    width: var(--current-grid-size);
    height: var(--current-grid-size);

    border: 30px solid red;
    border-radius: 25px;
    background-color: white;
}

.cell {
    border: 1px solid black;
}

.colourful {
    background-color: black;
}