* {
	margin: 0;
    padding: 0;
}

:root {
    --current-grid-size: 500px;    
}

body {
    background-color: rgb(238, 238, 238);
}

button {
    display: block;
    margin: 10px auto;
    margin-bottom: 10px;
    
    font-size: 15pt;
}

#size-btn {    
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    margin: 0 auto;
    width: var(--current-grid-size);
    height: var(--current-grid-size);

    border: 1px solid black;
    background-color: white;
}

.cell {
    border: 0.5px solid black;
}

.colourful {
    background-color: black;
}