:root {
    --current-grid-size: 200px;
    --current-cell-size: calc(var(--current-grid-size) / 4);
}

#clear-btn {
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, var(--current-cell-size));
    margin: 0 auto;
    width: var(--current-grid-size);
}

.cell {    
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.colourful {
    background-color: pink;
}